#canvas {
    cursor: crosshair;
    display: inline-block;
}
.seresize {
    cursor: se-resize;
}
.nsresize {
    cursor: ns-resize;
}
.ewresize {
    cursor: ew-resize;
}
#canvasBorder {
    border: solid 3px #000;
    width: auto;
    display: inline-block;
}
#pointlist{
    display: inline-block;
    vertical-align: top;
    border: solid 1px #000;
    min-width: 200px;
}

#calibrate {
    display: inline-block;
    vertical-align: top;
    border: solid 1px #000;
    margin: 5px 15px 15px 5px;
    padding: 0px;
    width: 400px;
}
#seriesList {
    width: 50px;
    display: inline-block;
    background-color: aqua;
}
#filebrowsed {
    display: block;

}
#deg3poly {
    background-color:lightblue;
}
#resizeW {
    display: inline-block;
    height: 100%;
    width: 3px;
    cursor: ew-resize;
    background-color: black;
}
#regressionBox {
    display: inline-block;
    border: solid 1px #000;
    width: 500px;
    margin: 5px 15px 15px 5px;
    /* padding: 2px; */

}
.r {
    padding: 2px;
}
.inputRow {
    padding: 5px 5px 5px 5px;
}
.smallBox {
    width: 50px;
}
.label {
    display: inline-block;
}
.value {
    display: inline-block;
}
.activeBtn {
    background-color: magenta;
    color: #fff;
}
.point {
    display: inline-block;
    width: 90%;
}
.pointclose {
    display: inline-block;
    width: 20px;
    text-align: right;
}
.pointWrapper {
    width: 100%;
}
.button {
    display: inline-block;
}
.calibHeader {
    background-color: cornflowerblue;
    color: #000;
}
.missing {
    font-weight: bold;
    background-color: red !important;
    color: #fff;
}
.set {
    background-color: darkgreen;
    color: #fff;
    font-weight: normal;
}
.hidden {
    display: none !important;
}
.header {
    background-color: rgb(243, 192, 26);
}