#canvas {
    cursor: crosshair;
    display: inline-block;
}
#pointlist{
    display: inline-block;
    vertical-align: top;
    border: solid 1px #000;
}
#calibrate {
    display: inline-block;
    vertical-align: top;
    border: solid 1px #000;
}
#seriesList {
    width: 50px;
    display: inline-block;
    background-color: aqua;
}
#filebrowsed {
    display: block;

}
#deg3poly {
    background-color: yellow;
}
#resizeW {
    display: inline-block;
    height: 100%;
    width: 3px;
    cursor: ew-resize;
    background-color: black;
}
#regressionBox {
    border: solid 1px #000;
    width: 500px;
}
.label {
    display: inline-block;
}
.value {
    display: inline-block;
}
.activeBtn {
    background-color: magenta;
    color: #fff;
}
.point {
    width: 100%;
}
.button {
    display: inline-block;
}
.calibHeader {
    background-color: cornflowerblue;
    color: #000;
}
.missing {
    font-weight: bold;
    background-color: red !important;
    color: #fff;
}
.set {
    background-color: darkgreen;
    color: #fff;
    font-weight: normal;
}
.hidden {
    display: none !important;
}
